/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0; 
	margin: 0;
}
img,input {
	border: 0;
}
input:focus {
	outline: none;
}
ul {
	list-style:none;
}
a:hover,a:focus {
	text-decoration:none;
}
html {
	font-size: 100px;
}
/*common*/
body {
	font-family: "微软雅黑";
}
html,body,.wrapper,.video-frame-wrapper,.frame-wrapper {
	height:100%;
}
.pointer {
	cursor: pointer;
}
.frame-wrapper {
	padding: 20px;
}
.frame-content {
	min-height: 90%;
}
[v-cloak] {
	display: none;
}
.page-box {
	display: table;
	margin: 20px auto;
}
.page-box a,.page-box span {
	display:table-cell;
}
.page-box .active {
	background: #53687f;
	border: 1px solid #53687f;	
}
.page-box a:hover {
	background: #53687f;
}
input[disabled] {
	background: #999;
}
@media screen and (max-width: 1100px) {
	html {
	    font-size: 90px;
    } 
}
@media screen and (max-width: 767px) {
	html {
	    font-size: 70px;
    } 
}