.vr-navbar {
	margin-bottom:0;
	background-color: #1d2733;
	border-radius: 0;
}
.vr-navbar .navbar-header,
.vr-navbar .navbar-nav > li {
    float: left; 
}
i.iconfont {
	padding: 0 6px;
}
.navbar-nav > li .icon-hyyonghu {
	font-size: 24px;
	vertical-align: middle;
}
.navbar-nav > li .icon-arrowDown {
	font-size: 10px;
}
.vr-navbar .icon-bar {
	background: #fff;
}
.vr-navbar .navbar-toggle {
	float: none;
	background: #0f161e;
}
.vr-navbar a{
	color: #fff;
}
.vr-navbar .vr-navbar-brand {
	color: #ddb00b;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.vr-navbar-brand i {
	display: block;
	float: left;
	width: 36px;
	height: 28px;
	background: url(../img/logo.png) center no-repeat;
}
.nav-sub-link a {
	font-size: 12px;
}
.drop-menu,.vr-top-navbar {
	border-top:1px solid #253444;
	border-bottom: 1px solid #0f161e;
}
.navbar-nav .active > a,.navbar-nav li > a:focus,
.navbar-nav li > a:hover,.nav .open > a,.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color: #fff;
	background: #0f161e;
}
#side-menu a:hover,
#side-menu a:focus {
	color: #fff;
	background: #1d2733;
}
#side-menu .alink:hover,
#side-menu .alink:focus {
	color: #ddb00b;
	background: #0f161e;
}
.side-menu .list-icon {
	font-size: 10px;
}
.side-menu .icon-hyyonghu {
	font-size: 20px;
	padding: 0 3px;
}
.side-menu-item {
	border-top:1px solid #253444;
	border-bottom: 1px solid #0f161e;
}
.vr-top-navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.vr-left-navbar {
	width:200px;
	height:100%;
	position:fixed;
	left:0;
	top:52px;
}
.drop-menu li,.drop-menu {
	width:100%;
}
.drop-menu li>a {
	display:block;
	width:100%;
	height:40px;
	padding-left: 50px;
	line-height: 40px;;
}
.page-wrapper {
	height:100%;
	padding-top:52px;
	width:100%;
}
.page-main {
	height:100%;
	margin-left:200px;
}
@media screen and (max-width: 766px){
	.page-main{
		margin-left:0px;
	}
}
/*video*/
[v-cloak] { display: none }
.video-frame-wrapper {
	padding: 0 35px;
	position: relative;
}

.video-box {
	border-bottom:1px solid #ccc;
}
.search-box {
	padding:20px 0;
}
.video-input-group {
	border-spacing: 15px;
}
.search-box .video-search {
	border-radius: 4px!important;
}
.video-row .form-control {
	height:38px;
}
.video-row .input-group-addon {
	background:#53687f;
	color:#fff;
	padding:6px 18px;
	font-size: 16px;
}
.video-row .icon-search {
	font-size: 20px;
}
.video-box-tit {
	height: 40px;
	color: #999;
	line-height: 40px;
}
.video-box-item {
	height: 27px;
	line-height: 27px;
	margin: 5px;
	margin-left: 0;
	width: 80px;
	text-align: center;
	float: left;
}
.video-box-item a {
	color: #333;
}
.video-box-item.active {
	background: #53687f;
	border-radius: 3px;
}
.video-box-item.active a {
	color: #fff;
}
.class-box {
	padding-bottom: 10px;
}
.list-box {
	padding: 10px 0;
}
.list-box-tab {
	float: left;
	width: 88px;
	height: 28px;
	border: 1px solid #ccc;
	line-height: 28px;
	text-align: center;
	border-radius: 3px;
	margin-right: 25px;
}
.list-box-tab a{
	color: #666;
}
.list-delete-tab {
	background-color: #d00413;
	border:1px solid #d00413;
}
.list-delete-tab a{
    color:#fff;
}
.list-info {
	width: 100%;
}
.list-box-item {
	border: 1px solid #ccc;
	margin: 20px 2% 30px 0;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	padding: 0;
	box-sizing: border-box;
	width: 18%;
	float: left;
}
.video-edit-btn {
	width: 100%;
	margin: 15px 0;
	background: #53687f;
}
.video-edit-btn a {
	color: #fff;
	display: block;
}
.list-info .icon-gou {
	padding: 0;
	color: #d00413; 
}
@media screen and (max-width: 1100px) {
	.list-box-item {
		width: 23%;
	}
}
@media screen and (max-width: 766px) {
	.list-box-item {
		width: 48%;
	}
}
.check-box {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	z-index: 10;
}
.video-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}
.video-img {
	width: 100%;
	height: 1rem;
	overflow: hidden;
}
.video-img img { 
	width: 100%;
}
.video-desc {
	padding: 5px 10px;
}
.video-desc-tit {
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
.video-desc-list li {
	color: #666;
	line-height: 25px;
	font-size: 12px;
}
.video-desc-list .data {
	float: right;
	color: #999;
}
/*user-table*/
.user-table {
	color: #999;
	background: #fafafa;
	font-size: 12px;
}
.user-table thead {
	background: #f0f0f0;
	color: #333;
}
.user-table th {
	text-align: center;
}
/*upload*/
.upload-content {
	width: 540px;
	padding: 10px;
}
.upload-cover-box {
	border: 1px dotted #ccc;
	width: 100%;
	height: 120px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.upload-btn {
	background-color: #53687f;
	color: #fff;
	text-align: center;
	border-radius: 3px;	
	border: none;
}
.upload-cover-preview {
	width: 100%;
	height: 100%;
	background: #f8f8f8;
}
.imgpreview-image {
	width: 100%;
	height: 100%;
}
.upload-cover-btn {
	position: absolute;
	left: 50%;
	bottom: 20px; 
	margin-left: -41px;
	width: 82px;
	height: 30px;
	line-height: 30px;
	z-index: 10;
}
.upload-video-btn {
	width:100px;
	height: 30px;
	line-height: 30px;
}	
.upload-cover-info {
	line-height: 120px;
	height: 120px;
	color: #999;
	font-weight: normal;
}
.video-price-input {
	width: 150px;
	display: inline-block;
	margin-right: 15px;
}
.upload-submit-btn {
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
}
.upload-select {
	width: 105px;
}
.submit-box {
	margin-top: 60px;
}
